body {
	background-color: #0C0C0C;
	background-size: cover;
	margin: 0px;
	padding: 0px;
}

.Error {
	
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
}

#img {
	width: 70%;
	height: 50%;
}

.Error p {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: calc(20px + 18 * (100vw / 1920));
	text-align: center;
	color: #BA2425;
}
