
.container_title {

}
.container_title span {
    letter-spacing: 3px;
    font-weight: 300;
    display: inline-block;
    opacity: 0;
    text-transform: uppercase;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition-timing-function: ease-out;
}
.container_title span:nth-child(1) {
    animation-delay: 0.2s;
    animation-name: fadeInLeft;
}
.container_title span:nth-child(2) {
    animation-delay: 0.4s;
    animation-name: fadeInLeft;
}
.container_title span:nth-child(3) {
    animation-delay: 0.6s;
    animation-name: fadeInLeft;
}
.container_title span:nth-child(4) {
    animation-delay: 0.8s;
    animation-name: fadeInLeft;
}
.container_title span:nth-child(5) {
    animation-delay: 1s;
    animation-name: fadeInLeft;
}
.container_title span:nth-child(10) {
    animation-delay: 0s;
    animation-name: fadeInRight;
}
.container_title span:nth-child(9) {
    animation-delay: 0.2s;
    animation-name: fadeInRight;
}
.container_title span:nth-child(8) {
    animation-delay: 0.4s;
    animation-name: fadeInRight;
}
.container_title span:nth-child(7) {
    animation-delay: 0.6s;
    animation-name: fadeInRight;
}
.container_title span:nth-child(6) {
    animation-delay: 0.8s;
    animation-name: fadeInRight;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(10%, 30%, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(-10%, -30%, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}