@charset "UTF-8";
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Regular.ttf?03523cf578d69fa923226ff457b92d90) format("truetype");
}
@font-face {
  font-family: "Roboto Thin";
  src: url(/fonts/Roboto-Thin.ttf?c38fab23fc1c36894f10dd8014479b53) format("truetype");
}
@font-face {
  font-family: "Roboto Medium";
  src: url(/fonts/Roboto-Medium.ttf?13a29228654d5c5ec9c482a267efa4af) format("truetype");
}
@font-face {
  font-family: "Roboto Light";
  src: url(/fonts/Roboto-Light.ttf?0cea39826bd36bbfe33076c544e3a1af) format("truetype");
}
@font-face {
  font-family: "Roboto Bold";
  src: url(/fonts/Roboto-Bold.ttf?4f39c5796e60c9d8e7327a00e9a4442e) format("truetype");
}
@font-face {
  font-family: "Bai Jamjuree SemiBold";
  src: url(/fonts/BaiJamjuree-SemiBold.ttf?7d175afcb2c4c5c15c8bd2e1ea4f514e) format("truetype");
}
/************   Функции   **************/
/************    Общие стили   *************/
* {
  touch-action: pan-x pan-y;
}

/*only allow scroll gestures*/
body {
  /*cursor: url('/img/cursor.svg') 20 20, auto;*/
  line-height: initial;
  overflow-x: hidden;
  background-color: #0c0c0c;
}

:root {
  --app-height: 100%;
}

ul {
  list-style-type: none;
}

ul, div {
  font-family: Roboto;
}

a {
  color: black;
}

.c-scrollbar_thumb {
  z-index: 99999999999;
}

.g-recaptcha > div {
  margin: 20px auto auto;
}

.unselectable {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently not supported by any browser */
}

@media (min-width: 1000px) {
  /************    Лого справа внизу   *************/
  .logo-right-bottom {
    position: fixed;
    z-index: 1000;
    right: 50px;
    bottom: 50px;
    -moz-user-select: none;
    -webkit-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.6));
  }

  .logo-mini {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .logo-text-mini {
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-duration: 90s;
            animation-duration: 90s;
    -webkit-animation-name: slidein;
            animation-name: slidein;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }

  /************    Header   *************/
  #head-menu.animate__fadeOut {
    pointer-events: none;
  }

  .nav-header {
    margin-top: 44px;
  }

  .menu-background {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.81) 59.97%, rgba(0, 0, 0, 0) 102.77%);
    display: none;
    top: -44px;
    position: absolute;
    width: 100%;
    height: 240%;
  }

  .header-left-logo {
    position: absolute;
    left: 47px;
    cursor: pointer;
  }

  .header-left-logo.logo-hider {
    display: none;
  }

  .menu-right {
    z-index: 50;
    text-align: center;
  }

  .menu-right ul {
    list-style-type: none;
  }

  .menu-right ul li {
    float: left;
    padding-right: 54px;
    padding-bottom: 20px;
  }

  .menu-right ul li a {
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-decoration: none;
  }

  .menu-right ul li.active a {
    color: #FF4747;
  }

  .menu-right ul li a:hover {
    color: #FF4747;
    text-decoration: none;
  }

  .lang-dropdown {
    position: absolute;
    right: 62px;
    width: 55px;
    text-align: center;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    min-height: 56px;
    -moz-user-select: none;
    -webkit-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }

  .lang-dropdown span, .lang-dropdown img {
    cursor: pointer;
  }

  .lang-dropdown ul {
    display: none;
    padding: 0;
    margin-top: 4px;
    background-color: white;
    font-weight: 600;
    text-align: left;
    padding-left: 5px;
  }

  .lang-dropdown ul li a {
    display: block;
    color: #951D1E;
    text-decoration: none;
  }
}
@media (min-width: 480px) and (max-width: 1000px) {
  /************    Лого справа внизу   *************/
  .logo-right-bottom {
    position: fixed;
    z-index: 1000;
    right: 50px;
    bottom: 50px;
    -moz-user-select: none;
    -webkit-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.6));
  }

  .logo-mini {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 41.15px;
  }

  .logo-text-mini {
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-duration: 90s;
            animation-duration: 90s;
    -webkit-animation-name: slidein;
            animation-name: slidein;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    width: 83px;
  }

  /************    Header   *************/
  #head-menu.animate__fadeOut {
    pointer-events: none;
  }

  .nav-header {
    margin-top: 44px;
  }

  .menu-background {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.81) 59.97%, rgba(0, 0, 0, 0) 102.77%);
    display: none;
    top: -44px;
    position: absolute;
    width: 100%;
    height: 240%;
  }

  .header-left-logo {
    position: absolute;
    left: 47px;
    cursor: pointer;
  }

  .header-left-logo.logo-hider {
    display: none;
  }

  .menu-right {
    z-index: 50;
    text-align: center;
  }

  .menu-right ul {
    list-style-type: none;
  }

  .menu-right ul li {
    float: left;
    padding-right: 44px;
    padding-bottom: 20px;
  }

  .menu-right ul li a {
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
  }

  .menu-right ul li.active a {
    color: #FF4747;
  }

  .lang-dropdown {
    position: absolute;
    right: 41px;
    width: 55px;
    text-align: center;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    min-height: 56px;
    -moz-user-select: none;
    -webkit-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }

  .lang-dropdown span, .lang-dropdown img {
    cursor: pointer;
  }

  .lang-dropdown ul {
    display: none;
    padding: 0;
    margin-top: 4px;
    background-color: white;
    font-weight: 600;
    text-align: left;
    padding-left: 5px;
  }

  .lang-dropdown ul li a {
    display: block;
    color: #951D1E;
    text-decoration: none;
  }
}
@media (min-width: 630px) {
  .mobile-menu-button {
    display: none;
  }
}
@media (max-width: 630px) {
  .logo-right-bottom, .header-left-logo {
    display: none !important;
  }

  .nav-header {
    margin-top: 0;
  }

  .menu-background {
    height: 0;
  }

  .menu-right {
    display: none;
    width: 100%;
    height: 100px;
    background-color: #BA2425;
  }

  .menu-right ul {
    top: 41px;
    left: 71.5px;
    position: absolute;
  }

  .menu-right ul li {
    padding-right: 19px;
  }

  .menu-right ul li a {
    font-size: 18px;
    line-height: 21px;
    color: #111212;
    text-decoration: none;
  }

  .menu-right ul li.active a {
    color: white;
  }

  .left-logo-block {
    display: none;
  }

  .lang-dropdown {
    top: 47px;
  }

  .mobile-menu-button {
    position: absolute;
    left: 40.5px;
    top: 37.5px;
    cursor: pointer;
    z-index: 600;
  }

  .mobile-menu-button button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  .mobile-menu-button img {
    width: 34.5px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  /************    Лого справа внизу   *************/
  .logo-right-bottom {
    position: fixed;
    z-index: 1000;
    right: 50px;
    bottom: 50px;
    -moz-user-select: none;
    -webkit-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.6));
  }

  .logo-mini {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 41.15px;
  }

  .logo-text-mini {
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-duration: 90s;
            animation-duration: 90s;
    -webkit-animation-name: slidein;
            animation-name: slidein;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    width: 83px;
  }

  /************    Header   *************/
  #head-menu.animate__fadeOut {
    pointer-events: none;
  }

  .nav-header {
    margin-top: 0px;
  }

  .header-left-logo {
    position: absolute;
    left: 47px;
    cursor: pointer;
  }

  .header-left-logo.logo-hider {
    display: none;
  }

  .menu-right {
    z-index: 50;
    text-align: center;
    display: none;
    width: 100%;
    height: 100px;
    background-color: #BA2425;
  }

  .menu-right ul {
    list-style-type: none;
    top: 41px;
    left: 71.5px;
    position: absolute;
  }

  .menu-right ul li {
    float: left;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .menu-right ul li a {
    color: #111212;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }

  .lang-dropdown {
    position: absolute;
    right: 41px;
    width: 55px;
    text-align: center;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    min-height: 56px;
    -moz-user-select: none;
    -webkit-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }

  .lang-dropdown span, .lang-dropdown img {
    cursor: pointer;
  }

  .lang-dropdown ul {
    display: none;
    padding: 0;
    margin-top: 4px;
    background-color: white;
    font-weight: 600;
    text-align: left;
    padding-left: 5px;
  }

  .lang-dropdown ul li a {
    display: block;
    color: #951D1E;
    text-decoration: none;
  }
}
@media (max-width: 390px) {
  .menu-right ul {
    left: 60px;
  }

  .menu-right ul li {
    padding-right: 10px;
    padding-bottom: 20px;
  }

  .menu-right ul li a {
    font-size: 12px;
    line-height: 14px;
  }
}
@media (max-width: 320px) {
  /************ Мобильное меню *****************/
  .mobile-menu-button {
    position: absolute;
    left: 27px;
    top: 25px;
    margin-top: -3px;
    cursor: pointer;
  }

  .mobile-menu-button img {
    width: 23px;
  }

  /************    Лого справа внизу   *************/
  .logo-right-bottom {
    position: fixed;
    z-index: 1000;
    right: 50px;
    bottom: 50px;
    -moz-user-select: none;
    -webkit-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.6));
  }

  .logo-mini {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 41.15px;
  }

  .logo-text-mini {
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-duration: 90s;
            animation-duration: 90s;
    -webkit-animation-name: slidein;
            animation-name: slidein;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    width: 83px;
  }

  /************    Header   *************/
  #head-menu.animate__fadeOut {
    pointer-events: none;
  }

  .nav-header {
    margin-top: 0px;
  }

  .header-left-logo {
    position: absolute;
    left: 47px;
    cursor: pointer;
  }

  .header-left-logo.logo-hider {
    display: none;
  }

  .menu-right {
    z-index: 50;
    display: none;
    width: 100%;
    height: 67px;
    background-color: #BA2425;
  }

  .menu-right ul {
    left: 38px;
    top: 22px;
    list-style-type: none;
  }

  .menu-right ul li {
    float: left;
    padding-right: 10px;
    padding-bottom: 20px;
  }

  .menu-right ul li a {
    color: #111212;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }

  .lang-dropdown {
    position: absolute;
    top: 25px;
    right: 16px;
    width: 55px;
    text-align: center;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    min-height: 56px;
    -moz-user-select: none;
    -webkit-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }

  .lang-dropdown span, .lang-dropdown img {
    cursor: pointer;
  }

  .lang-dropdown ul {
    display: none;
    padding: 0;
    margin-top: 4px;
    background-color: white;
    font-weight: 600;
    text-align: left;
    padding-left: 5px;
  }

  .lang-dropdown ul li a {
    display: block;
    color: #951D1E;
    text-decoration: none;
  }
}
/** Contacts **/
.modal-result {
  width: 572px;
  height: 688px;
  position: absolute;
  left: 50%;
  top: 167px;
  z-index: 999999999;
  display: none;
  transform: translateX(-50%);
  padding: 24px;
}
.modal-result .back {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(18, 18, 18, 0.99);
}
.modal-result .text-content {
  height: 0;
  margin-top: 50%;
  display: block;
  position: relative;
  color: white;
  transform: translateY(-50%);
}
.modal-result .text-content h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
}
.modal-result .text-content p {
  padding-top: 28px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

/************    Slide 1   *************/
.slide-1 {
  overflow: hidden;
}
.slide-1 .contacts {
  position: absolute;
  top: 167px;
  width: 572px;
  height: 700px;
  background-color: #0C0C0C;
  left: 50%;
  transform: translateX(-50%);
}
.slide-1 .contacts .header {
  position: relative;
  width: 480px;
  height: 45px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 45px;
  /* identical to box height */
  color: #FFFFFF;
}
.slide-1 .contacts form {
  padding: 0 25px 0 25px;
  margin-top: 30px;
}
.slide-1 .contacts form span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #BA2425;
}
.slide-1 .contacts form input {
  width: 100%;
  height: 56px;
  background-color: #131313;
  border-style: none;
  color: #FFFFFF;
  padding: 19px 20px 18px 20px;
  outline: none;
}
.slide-1 .contacts form input::-moz-placeholder {
  color: #FFFFFF;
}
.slide-1 .contacts form input:-ms-input-placeholder {
  color: #FFFFFF;
}
.slide-1 .contacts form input::placeholder {
  color: #FFFFFF;
}
.slide-1 .contacts form textarea {
  width: 100%;
  height: 142px;
  background-color: #131313;
  border-style: none;
  color: #FFFFFF;
  padding: 19px 20px 18px 20px;
  resize: none;
  outline: none;
}
.slide-1 .contacts form textarea::-moz-placeholder {
  color: #FFFFFF;
}
.slide-1 .contacts form textarea:-ms-input-placeholder {
  color: #FFFFFF;
}
.slide-1 .contacts form textarea::placeholder {
  color: #FFFFFF;
}
.slide-1 .contacts form button {
  margin-top: 21px;
  width: 440px;
  height: 89px;
  background: #BA2425;
  border-style: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 45px;
  color: #FFFFFF;
  margin-left: 50%;
  transform: translateX(-50%);
  outline: none;
}
.slide-1 .contacts form .form-group {
  margin-bottom: 1px;
  text-align: center;
}
.slide-1 .contacts form .form-group img {
  padding: 20px;
}
.slide-1 .contacts form .google-captcha {
  margin-top: 21px;
  width: 258px;
  height: 62px;
  background-color: #17a2b8;
  margin-left: 50%;
  transform: translateX(-50%);
}
.slide-1 .contacts form .footer {
  margin-top: 14px;
  width: 393px;
  height: 29px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #767676;
  margin-left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 1000px) {
  .slide-1 {
    /*height: 1081px;*/
    height: 100vh;
    height: var(--app-height);
    position: relative;
    z-index: 100;
    background-color: black;
    background-image: url(/img/main/slide-1.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slide-1 .video-background {
    width: 100%;
    height: 100%;
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .slide-1 .video-grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/img/main/raster.png");
  }
  .slide-1 .rect-top {
    position: absolute;
    width: 49px;
    height: 2px;
    left: 68px;
    top: 135px;
    background: #BA2425;
  }
  .slide-1 .logo-text {
    position: absolute;
    width: 278px;
    height: 57px;
    left: 120px;
    top: 142px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    transform: rotate(90deg);
    transform-origin: 0% 0%;
  }
  .slide-1 .custom .rect-top {
    top: 40px;
    z-index: 10000;
  }
  .slide-1 .custom .logo-text {
    top: 47px;
    z-index: 10000;
  }
  .slide-1 .custom .logo-text span {
    font-weight: bold;
  }
  .slide-1 .main-bottom-border {
    position: absolute;
    width: 100%;
    height: 10px;
    bottom: 50%;
  }
  .slide-1 .main-center-text {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
  }
  .slide-1 .main-center-text img {
    width: 442px;
    height: 284px;
  }
}
@media (min-width: 480px) and (max-width: 1000px) {
  .slide-1 {
    /*height: 1081px;*/
    height: 100vh;
    height: var(--app-height);
    position: relative;
    z-index: 100;
    background-color: black;
    background-image: url(/img/main/slide-1.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slide-1 .video-background {
    width: 100%;
    height: 100%;
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .slide-1 .video-grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/img/main/raster.png");
  }
  .slide-1 .rect-top {
    position: absolute;
    width: 32px;
    height: 2px;
    left: 57px;
    top: 135px;
    background: #BA2425;
  }
  .slide-1 .logo-text {
    position: absolute;
    width: 174px;
    height: 36px;
    left: 90px;
    top: 142px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
    transform: rotate(90deg);
    transform-origin: 0% 0%;
  }
  .slide-1 .logo-text span {
    font-weight: bold;
  }
  .slide-1 .custom .rect-top {
    top: 40px;
    z-index: 10000;
  }
  .slide-1 .custom .logo-text {
    top: 47px;
    z-index: 10000;
  }
  .slide-1 .main-bottom-border {
    position: absolute;
    width: 100%;
    height: 10px;
    bottom: 50%;
  }
  .slide-1 .main-center-text {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
  }
  .slide-1 .main-center-text img {
    width: 247.67px;
    height: 159px;
  }
}
@media (max-width: 630px) {
  .slide-1 {
    background-image: none;
    background-color: #131313;
  }
  .slide-1 .video-grid, .slide-1 .video-background {
    -o-object-position: 50%, 50%;
       object-position: 50%, 50%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .slide-1 {
    /*height: 1081px;*/
    height: 100vh;
    height: var(--app-height);
    position: relative;
    z-index: 100;
    background-image: none;
    background-color: #131313;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slide-1 .rect-top {
    position: absolute;
    width: 32px;
    height: 2px;
    left: 57px;
    top: 135px;
    background: #BA2425;
  }
  .slide-1 .logo-text {
    position: absolute;
    width: 174px;
    height: 36px;
    left: 90px;
    top: 142px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
    transform: rotate(90deg);
    transform-origin: 0% 0%;
  }
  .slide-1 .logo-text span {
    font-weight: bold;
  }
  .slide-1 .custom .rect-top {
    top: 40px;
    z-index: 10000;
  }
  .slide-1 .custom .logo-text {
    top: 47px;
    z-index: 10000;
  }
  .slide-1 .main-bottom-border {
    position: absolute;
    width: 100%;
    height: 10px;
    bottom: 50%;
  }
  .slide-1 .main-center-text {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
  }
  .slide-1 .main-center-text img {
    width: 247.67px;
    height: 159px;
  }
}
@media (max-width: 320px) {
  .slide-1 {
    /************    Slide 1   *************/
  }
  .slide-1 {
    /*height: 1081px;*/
    height: 100vh;
    height: var(--app-height);
    position: relative;
    z-index: 100;
    background-image: none;
    background-color: #131313;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slide-1 .rect-top {
    position: absolute;
    width: 32px;
    height: 2px;
    left: 57px;
    top: 135px;
    background: #BA2425;
  }
  .slide-1 .logo-text {
    position: absolute;
    width: 174px;
    height: 36px;
    left: 90px;
    top: 142px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
    transform: rotate(90deg);
    transform-origin: 0% 0%;
  }
  .slide-1 .logo-text span {
    font-weight: bold;
  }
  .slide-1 .custom .rect-top {
    top: 40px;
    z-index: 10000;
  }
  .slide-1 .custom .logo-text {
    top: 47px;
    z-index: 10000;
  }
  .slide-1 .main-bottom-border {
    position: absolute;
    width: 100%;
    height: 10px;
    bottom: 50%;
  }
  .slide-1 .main-center-text {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
  }
  .slide-1 .main-center-text img {
    width: 211.85px;
    height: 136px;
  }
}

/************    Slide 2   *************/
.slide-2 {
  position: relative;
  background-color: #0C0C0C;
  height: 100vh;
  height: var(--app-height);
  position: relative;
  min-height: 1071px;
  background-image: url(/img/logo/logo-gray.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center center;
  overflow: hidden;
}
.slide-2 h1 {
  font-family: "Roboto Bold";
  font-weight: bold;
  margin-bottom: 2rem;
  font-size: 35px;
  line-height: 41px;
}
.slide-2 span.red {
  font-family: Roboto;
  font-weight: bold;
  color: #DF3E3E;
}
.slide-2 .text-content {
  position: absolute;
  width: 488px;
  height: 570px;
  top: 151px;
  left: 36.3%;
  font-family: Roboto Light;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: white;
}
.slide-2 .text-content p {
  font-family: Roboto Light;
}
.slide-2 .text-content .row div {
  padding-bottom: 106px;
}
@media (max-width: 1300px) {
  .slide-2 .text-content {
    left: 28%;
  }
}
@media (min-width: 480px) and (max-width: 1000px) {
  .slide-2 {
    height: 100vh;
    height: var(--app-height);
    min-height: unset;
    position: relative;
  }
  .slide-2 .text-content {
    position: absolute;
    width: 488px;
    height: 570px;
    top: 151px;
    left: 28%;
    font-family: Roboto Light;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16.41px;
    color: white;
  }
}
@media (max-width: 630px) {
  .slide-2 {
    height: 100vh;
    height: var(--app-height);
    min-height: unset;
    position: relative;
    background-image: unset;
    background-color: #131313;
  }
  .slide-2 .text-content {
    position: absolute;
    width: 488px;
    height: 570px;
    top: 151px;
    left: 18%;
    font-family: Roboto Light;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16.41px;
    color: white;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .slide-2 {
    height: 100vh;
    height: var(--app-height);
    min-height: unset;
    position: relative;
  }
  .slide-2 h1 {
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 29px;
  }
  .slide-2 .text-content {
    position: absolute;
    width: 488px;
    height: 570px;
    top: 151px;
    left: 8%;
    font-family: Roboto Light;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: white;
  }
}
@media (max-width: 390px) {
  .slide-2 {
    height: 100vh;
    height: var(--app-height);
    min-height: unset;
    position: relative;
  }
  .slide-2 .text-content {
    position: absolute;
    width: 488px;
    height: 570px;
    top: 151px;
    left: 4%;
    font-family: Roboto Light;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: white;
  }
}
@media (max-width: 320px) {
  .slide-2 {
    height: 100vh;
    height: var(--app-height);
    min-height: unset;
    position: relative;
  }
  .slide-2 .text-content {
    position: absolute;
    width: 488px;
    height: 570px;
    top: 151px;
    left: 4%;
    font-family: Roboto Light;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: white;
  }
  .slide-2 h1 {
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 29px;
  }
}

/************    Slide 3   *************/
.slide-3 {
  background-color: #131313;
  height: 100vh;
  height: var(--app-height);
  position: relative;
  min-height: 1010px;
  margin-top: -48px;
  z-index: 100;
}
.slide-3 .cover img {
  width: 100%;
  height: 100%;
  transition: all 1s ease;
  filter: blur(2px);
  transform: scale(1.01);
  opacity: 1;
}
.slide-3 .cover img:hover {
  filter: blur(0px);
  opacity: 0;
}
.slide-3 .cover-1 {
  position: absolute;
  width: 494.89px;
  left: -29.69px;
  top: 60.31px;
  z-index: 120;
  background-image: url("/img/slide-3/6.png");
  background-size: contain;
  transform: rotate(-14.9deg);
  border: solid 0px;
}
.slide-3 .cover-2 {
  position: absolute;
  width: 468.71px;
  height: 468.71px;
  left: -73.4px;
  top: 582.79px;
  z-index: 110;
  background-image: url("/img/slide-3/2.png");
  background-size: contain;
  transform: rotate(-10.26deg);
  border: solid 0px;
}
.slide-3 .cover-3 {
  position: absolute;
  width: 392.87px;
  height: 392.87px;
  left: 182.8px;
  top: 490.8px;
  z-index: 100;
  background-image: url("/img/slide-3/3.png");
  background-size: contain;
  transform: rotate(10.97deg);
  border: solid 0px;
}
.slide-3 .cover-4 {
  position: absolute;
  width: 447.58px;
  height: 447.58px;
  right: -93.16px;
  top: 64.58px;
  z-index: 100;
  background-image: url("/img/slide-3/1.png");
  background-size: contain;
  transform: rotate(-8.79deg);
  border: solid 0px;
}
.slide-3 .cover-5 {
  position: absolute;
  width: 385px;
  height: 385px;
  right: 235.72px;
  top: 153.28px;
  z-index: 100;
  background-image: url("/img/slide-3/5.png");
  background-size: contain;
  transform: rotate(14.17deg);
  border: solid 0px;
}
.slide-3 .cover-6 {
  position: absolute;
  width: 560px;
  height: 560px;
  right: -48.63px;
  top: 477.63px;
  z-index: 130;
  background-image: url("/img/slide-3/4.png");
  background-size: contain;
  transform: rotate(12.14deg);
}
.slide-3 .text-content {
  position: absolute;
  /*width: 1272px;*/
  width: 100%;
  height: 430px;
  margin: auto;
  top: 0;
  bottom: 0;
  /*background-color: #131313;*/
}
.slide-3 .text-content .content {
  /*margin-left: 49px;*/
  margin-left: 36.3%;
  margin-top: 30px;
  max-width: 539px;
  font-family: Roboto Light;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ABABAB;
}
.slide-3 .text-content .content h1 {
  margin-bottom: 29px;
  font-family: Roboto Bold;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
}
.slide-3 .text-content .content-footer {
  position: relative;
  padding-top: 14px;
}
.slide-3 .text-content .content-footer a {
  font-family: "Roboto Bold";
  letter-spacing: 1px;
  color: white;
  font-size: 20px;
  line-height: 24px;
  margin-top: 31px;
  text-decoration: none;
}
.slide-3 .text-content .content-footer a.blur-material {
  position: absolute;
  /*top: 0;*/
  left: 0;
  margin: 0;
  transition: all 0.2s ease;
  filter: blur(0px);
  opacity: 0;
}
.slide-3 .text-content .content-footer a.blur-material:hover {
  filter: blur(10px);
  opacity: 1;
}
.slide-3 .text-content .content-footer img {
  vertical-align: bottom;
}
@media (min-width: 1000px) and (max-width: 1910px) {
  .slide-3 {
    height: 100vh;
    height: var(--app-height);
    position: relative;
    min-height: unset;
    margin-top: -10px;
  }
  .slide-3 .text-content .content {
    font-size: 16px;
    line-height: 19px;
  }
  .slide-3 .text-content .content h1 {
    margin-bottom: 20px;
    font-size: 35px;
    line-height: 41px;
  }
  .slide-3 .text-content .content-footer a {
    font-size: 16px;
    line-height: 18px;
    margin-top: 21px;
  }
  .slide-3 .cover-1 {
    width: 329.53px;
    height: 329.53px;
    left: -29.69px;
    margin: auto;
    top: -345px;
    bottom: 0;
  }
  .slide-3 .cover-2 {
    width: 317.39px;
    height: 317.39px;
    left: -73.4px;
    margin: auto;
    top: 340px;
    bottom: 0;
  }
  .slide-3 .cover-3 {
    width: 282.21px;
    height: 282.21px;
    left: 75.8px;
    margin: auto;
    top: 100px;
    bottom: 0;
  }
  .slide-3 .cover-4 {
    width: 307.58px;
    height: 307.58px;
    right: -173.16px;
    margin: auto;
    top: -459px;
    bottom: 0;
  }
  .slide-3 .cover-5 {
    width: 278.56px;
    height: 278.56px;
    right: -4.28px;
    margin: auto;
    top: -200px;
    bottom: 0;
  }
  .slide-3 .cover-6 {
    width: 359.73px;
    height: 359.73px;
    right: -98.63px;
    margin: auto;
    top: 263px;
    bottom: 0;
  }
}
@media (max-width: 1300px) {
  .slide-3 .text-content .content {
    margin-left: 28%;
  }
  .slide-3 .cover-1 {
    width: 229.53px;
    height: 229.53px;
    left: -29.69px;
    margin: auto;
    top: -285px;
    bottom: 0;
  }
  .slide-3 .cover-2 {
    width: 217.39px;
    height: 217.39px;
    left: -73.4px;
    margin: auto;
    top: 220px;
    bottom: 0;
  }
  .slide-3 .cover-3 {
    width: 182.21px;
    height: 182.21px;
    left: 75.8px;
    margin: auto;
    top: 100px;
    bottom: 0;
  }
  .slide-3 .cover-4 {
    width: 207.58px;
    height: 207.58px;
    right: -93.16px;
    margin: auto;
    top: -309px;
    bottom: 0;
  }
  .slide-3 .cover-5 {
    width: 178.56px;
    height: 178.56px;
    right: 95.72px;
    margin: auto;
    top: -200px;
    bottom: 0;
  }
  .slide-3 .cover-6 {
    width: 259.73px;
    height: 259.73px;
    right: -48.63px;
    margin: auto;
    top: 133px;
    bottom: 0;
  }
}
@media (max-width: 1170px) {
  .slide-3 {
    background-image: url(/img/slide-3/background.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .slide-3 .cover {
    display: none;
  }
  .slide-3 .text-content {
    background-color: unset;
  }
}
@media (min-width: 480px) and (max-width: 1000px) {
  .slide-3 {
    height: 100vh;
    height: var(--app-height);
    position: relative;
    min-height: unset;
  }
  .slide-3 .text-content .content {
    font-size: 12px;
    line-height: 14px;
    padding-right: 45px;
    margin-left: 28%;
  }
  .slide-3 .text-content .content h1 {
    margin-bottom: 20px;
    font-size: 35px;
    line-height: 41px;
  }
  .slide-3 .text-content .content-footer a {
    font-size: 16px;
    line-height: 18px;
    margin-top: 21px;
  }
}
@media (max-width: 630px) {
  .slide-3 {
    height: 100vh;
    height: var(--app-height);
    position: relative;
    min-height: unset;
  }
  .slide-3 .text-content .content {
    margin-left: 18%;
    padding-right: 45px;
    color: white;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .slide-3 {
    height: 100vh;
    height: var(--app-height);
    position: relative;
    min-height: unset;
  }
  .slide-3 .text-content .content {
    font-size: 12px;
    line-height: 14px;
    margin-left: 8%;
    padding-right: 35px;
  }
  .slide-3 .text-content .content h1 {
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 29px;
  }
  .slide-3 .text-content .content-footer a {
    font-size: 16px;
    line-height: 18px;
    margin-top: 21px;
  }
}
@media (max-width: 390px) {
  .slide-3 .text-content .content {
    font-size: 12px;
    line-height: 14px;
    margin-left: 4%;
    padding-right: 35px;
  }
}
@media (max-width: 320px) {
  .slide-3 {
    height: 100vh;
    height: var(--app-height);
    position: relative;
    min-height: unset;
  }
  .slide-3 .text-content .content {
    font-size: 12px;
    line-height: 14px;
    margin-left: 4%;
    padding-right: 35px;
  }
  .slide-3 .text-content .content h1 {
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 29px;
  }
  .slide-3 .text-content .content-footer a {
    font-size: 16px;
    line-height: 18px;
    margin-top: 21px;
  }
}

/************    Slide 4   *************/
.slide-4 {
  position: relative;
  background-color: #0C0C0C;
  height: 100vh;
  height: var(--app-height);
  min-height: 1010px;
  margin-top: -90px;
  z-index: 99;
  overflow-x: hidden;
}
.slide-4 .cover img {
  width: 100%;
  height: 100%;
  transition: all 1s ease;
  filter: blur(2px);
  transform: scale(1.04);
  opacity: 1;
  background-color: #0C0C0C;
}
.slide-4 .cover img:hover {
  filter: blur(0px);
  opacity: 0;
  transform: scale(1.01);
}
.slide-4 .cover.carabus img {
  transform: scale(1.08);
}
.slide-4 .streetwear {
  position: absolute;
  top: 24.05px;
  right: -50px;
  width: 669.9px;
  height: 382.66px;
  /*transform: rotate(2.96deg);*/
}
.slide-4 .streetwear .cover {
  transform: rotate(2.96deg);
  background-image: url("/img/slide-4/streetwear.png");
  background-size: contain;
}
.slide-4 .streetwear .cover img {
  background-color: #0C0C0C;
}
.slide-4 .carabus {
  position: absolute;
  width: 425.85px;
  height: 142.36px;
  right: -44.76px;
  top: calc(100% + 32.36px);
  /*transform: rotate(5.58deg);*/
}
.slide-4 .carabus .cover {
  transform: rotate(3.63deg);
  background-image: url("/img/slide-4/carabus.png");
  background-size: cover;
}
.slide-4 .sadday {
  position: absolute;
  width: 521.41px;
  height: 130.05px;
  right: -51.01px;
  bottom: calc(100% + 22.56px);
  transform: rotate(3.63deg);
}
.slide-4 .sadday .cover {
  transform: rotate(3.63deg);
  background-image: url("/img/slide-4/sadday.png");
  background-size: contain;
}
.slide-4 .massive {
  position: absolute;
  width: 602.8px;
  height: 387.42px;
  left: 5.75px;
  top: 150px;
  transform: rotate(14.42deg);
  background-image: url("/img/slide-4/massive.png");
  background-size: contain;
}
.slide-4 .minores {
  position: absolute;
  width: 437.27px;
  height: 138.78px;
  left: -121.07px;
  top: 558px;
  transform: rotate(-8.62deg);
  background-image: url("/img/slide-4/minores.png");
  background-size: contain;
}
.slide-4 .neobhodimost {
  position: absolute;
  width: 555.72px;
  height: 209.51px;
  left: -98.43px;
  top: 688.95px;
  transform: rotate(-5.36deg);
  background-image: url("/img/slide-4/neobhodimost.png");
  background-size: contain;
}
.slide-4 .text-content {
  position: absolute;
  /*width: 1272px;*/
  width: 100%;
  height: 430px;
  margin: auto;
  top: 0;
  bottom: 0;
  /*background-color: #131313;*/
}
.slide-4 .text-content .content {
  /*margin-left: 49px;*/
  margin-left: 36.3%;
  margin-top: 30px;
  max-width: 539px;
  font-family: Roboto Light;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ABABAB;
}
.slide-4 .text-content .content h1 {
  margin-bottom: 29px;
  font-family: Roboto Bold;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
}
.slide-4 .text-content .content-footer {
  position: relative;
  padding-top: 14px;
}
.slide-4 .text-content .content-footer a {
  font-family: "Roboto Bold";
  letter-spacing: 1px;
  color: white;
  font-size: 20px;
  line-height: 24px;
  margin-top: 31px;
  text-decoration: none;
}
.slide-4 .text-content .content-footer a.blur-material {
  position: absolute;
  /*top: 0;*/
  left: 0;
  margin: 0;
  transition: all 0.2s ease;
  filter: blur(0px);
  opacity: 0;
}
.slide-4 .text-content .content-footer a.blur-material:hover {
  filter: blur(10px);
  opacity: 1;
}
.slide-4 .text-content .content-footer img {
  vertical-align: bottom;
}
@media (min-width: 1000px) and (max-width: 1910px) {
  .slide-4 {
    height: 100vh;
    height: var(--app-height);
    position: relative;
    min-height: unset;
    margin-top: -10px;
  }
  .slide-4 .text-content .content {
    font-size: 16px;
    line-height: 19px;
  }
  .slide-4 .text-content .content h1 {
    margin-bottom: 20px;
    font-size: 35px;
    line-height: 41px;
  }
  .slide-4 .text-content .content-footer a {
    font-size: 16px;
    line-height: 18px;
    margin-top: 21px;
  }
  .slide-4 .massive {
    position: absolute;
    width: 502.3333333333px;
    height: 322.85px;
    left: 5.75px;
    top: -380px;
    bottom: 0;
    margin: auto;
  }
  .slide-4 .minores {
    position: absolute;
    width: 364.3916666667px;
    height: 115.65px;
    left: -121.07px;
    top: 110px;
    bottom: 0;
    margin: auto;
  }
  .slide-4 .neobhodimost {
    position: absolute;
    width: 463.1px;
    height: 174.5916666667px;
    left: -98.43px;
    top: 400px;
    bottom: 0;
    margin: auto;
  }
  .slide-4 .sadday {
    position: absolute;
    width: 434.5083333333px;
    height: 108.375px;
    right: -51.01px;
    bottom: 0;
    top: -600px;
    margin: auto;
  }
  .slide-4 .streetwear {
    position: absolute;
    right: -180px;
    width: 558.25px;
    height: 318.8833333333px;
    bottom: 0;
    top: -160px;
    margin: auto;
  }
  .slide-4 .carabus {
    position: absolute;
    width: 354.875px;
    height: 118.6333333333px;
    right: -44.76px;
    bottom: 0;
    top: 430px;
    margin: auto;
  }
}
@media (max-width: 1500px) {
  .slide-4 .massive {
    position: absolute;
    width: 376.75px;
    height: 242.1375px;
    left: 5.75px;
    top: -380px;
    bottom: 0;
    margin: auto;
  }
  .slide-4 .minores {
    position: absolute;
    width: 273.29375px;
    height: 86.7375px;
    left: -121.07px;
    top: 110px;
    bottom: 0;
    margin: auto;
  }
  .slide-4 .neobhodimost {
    position: absolute;
    width: 347.325px;
    height: 130.94375px;
    left: -98.43px;
    top: 400px;
    bottom: 0;
    margin: auto;
  }
  .slide-4 .sadday {
    position: absolute;
    width: 325.88125px;
    height: 81.28125px;
    right: -51.01px;
    bottom: 0;
    top: -520px;
    margin: auto;
  }
  .slide-4 .streetwear {
    position: absolute;
    right: -180px;
    width: 418.6875px;
    height: 239.1625px;
    bottom: 0;
    top: -160px;
    margin: auto;
  }
  .slide-4 .carabus {
    position: absolute;
    width: 266.15625px;
    height: 88.975px;
    right: -44.76px;
    bottom: 0;
    top: 330px;
    margin: auto;
  }
}
@media (max-width: 1300px) {
  .slide-4 .text-content .content {
    margin-left: 28%;
  }
  .slide-4 .massive {
    position: absolute;
    width: 354.5882352941px;
    height: 227.8941176471px;
    left: -60px;
    top: -380px;
    bottom: 0;
    margin: auto;
  }
  .slide-4 .minores {
    position: absolute;
    width: 257.2176470588px;
    height: 81.6352941176px;
    left: -121.07px;
    top: 110px;
    bottom: 0;
    margin: auto;
  }
  .slide-4 .neobhodimost {
    position: absolute;
    width: 326.8941176471px;
    height: 123.2411764706px;
    left: -98.43px;
    top: 400px;
    bottom: 0;
    margin: auto;
  }
  .slide-4 .sadday {
    position: absolute;
    width: 306.7117647059px;
    height: 76.5px;
    right: -51.01px;
    bottom: 0;
    top: -620px;
    margin: auto;
  }
  .slide-4 .streetwear {
    position: absolute;
    right: -180px;
    width: 394.0588235294px;
    height: 225.0941176471px;
    bottom: 0;
    top: -160px;
    margin: auto;
  }
  .slide-4 .carabus {
    position: absolute;
    width: 250.5px;
    height: 83.7411764706px;
    right: -44.76px;
    bottom: 0;
    top: 430px;
    margin: auto;
  }
}
@media (max-width: 1170px) {
  .slide-4 {
    background-image: url(/img/slide-4/background.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .slide-4 .cover {
    display: none;
  }
  .slide-4 .text-content {
    background-color: unset;
  }
}
@media (min-width: 480px) and (max-width: 1000px) {
  .slide-4 {
    height: 100vh;
    height: var(--app-height);
    position: relative;
    min-height: unset;
  }
  .slide-4 .text-content .content {
    font-size: 12px;
    line-height: 14px;
    padding-right: 45px;
    margin-left: 28%;
  }
  .slide-4 .text-content .content h1 {
    margin-bottom: 20px;
    font-size: 35px;
    line-height: 41px;
  }
  .slide-4 .text-content .content-footer a {
    font-size: 16px;
    line-height: 18px;
    margin-top: 21px;
  }
}
@media (max-width: 630px) {
  .slide-4 {
    background-color: #131313;
  }
  .slide-4 {
    height: 100vh;
    height: var(--app-height);
    position: relative;
    min-height: unset;
  }
  .slide-4 .text-content .content {
    margin-left: 18%;
    padding-right: 45px;
    color: white;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .slide-4 {
    height: 100vh;
    height: var(--app-height);
    position: relative;
    min-height: unset;
  }
  .slide-4 .text-content .content {
    font-size: 12px;
    line-height: 14px;
    margin-left: 8%;
    padding-right: 35px;
  }
  .slide-4 .text-content .content h1 {
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 29px;
  }
  .slide-4 .text-content .content-footer a {
    font-size: 16px;
    line-height: 18px;
    margin-top: 21px;
  }
}
@media (max-width: 390px) {
  .slide-4 .text-content .content {
    font-size: 12px;
    line-height: 14px;
    margin-left: 4%;
    padding-right: 35px;
  }
}
@media (max-width: 320px) {
  .slide-4 {
    height: 100vh;
    height: var(--app-height);
    position: relative;
    min-height: unset;
  }
  .slide-4 .text-content .content {
    font-size: 12px;
    line-height: 14px;
    margin-left: 4%;
    padding-right: 35px;
  }
  .slide-4 .text-content .content h1 {
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 29px;
  }
  .slide-4 .text-content .content-footer a {
    font-size: 16px;
    line-height: 18px;
    margin-top: 21px;
  }
}

/************   Slide 5   *************/
.slide-5 {
  position: relative;
  background-color: #131313;
  height: 100vh;
  height: var(--app-height);
  min-height: 1010px;
  margin-top: -55px;
  z-index: 99;
  overflow-x: hidden;
}
.slide-5 .cover img {
  width: 100%;
  height: 100%;
  transition: all 1s ease;
  filter: blur(2px);
  transform: scale(1.01);
  opacity: 1;
}
.slide-5 .cover img:hover {
  filter: blur(0px);
  opacity: 0;
}
.slide-5 .text-content {
  position: absolute;
  /*width: 1272px;*/
  width: 100%;
  height: 430px;
  margin: auto;
  top: 0;
  bottom: 0;
  /*background-color: #131313;*/
}
.slide-5 .text-content .content {
  /*margin-left: 49px;*/
  margin-left: 36.3%;
  margin-top: 30px;
  max-width: 539px;
  font-family: Roboto Light;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ABABAB;
}
.slide-5 .text-content .content h1 {
  margin-bottom: 29px;
  font-family: Roboto Bold;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
}
.slide-5 .text-content .content-footer {
  position: relative;
  padding-top: 14px;
}
.slide-5 .text-content .content-footer a {
  font-family: "Roboto Bold";
  letter-spacing: 1px;
  color: white;
  font-size: 20px;
  line-height: 24px;
  margin-top: 31px;
  text-decoration: none;
}
.slide-5 .text-content .content-footer a.blur-material {
  position: absolute;
  /*top: 0;*/
  left: 0;
  margin: 0;
  transition: all 0.2s ease;
  filter: blur(0px);
  opacity: 0;
}
.slide-5 .text-content .content-footer a.blur-material:hover {
  filter: blur(10px);
  opacity: 1;
}
.slide-5 .text-content .content-footer img {
  vertical-align: bottom;
}
.slide-5 .merch-left-top {
  position: absolute;
  width: 806px;
  height: 860px;
  left: -192.44px;
  top: -6.35px;
  transform: rotate(15deg);
  background-image: url("/img/slide-5/merch-left-top.png");
  background-size: contain;
}
.slide-5 .merch-left {
  position: absolute;
  width: 711.55px;
  height: 764.06px;
  left: -164.85px;
  top: 435.76px;
  transform: rotate(-14.46deg);
  background-image: url("/img/slide-5/merch-left.png");
  background-size: contain;
}
.slide-5 .merch-right-top {
  position: absolute;
  width: 806px;
  height: 860px;
  right: -197.32px;
  top: 7.6px;
  transform: rotate(-9.32deg);
  z-index: 10;
  background-image: url("/img/slide-5/merch-right-top.png");
  background-size: contain;
}
.slide-5 .merch-right {
  position: absolute;
  z-index: 100;
  width: 680.24px;
  height: 731.48px;
  right: -134.37px;
  top: 471.9px;
  transform: rotate(8.83deg);
  background-image: url("/img/slide-5/merch-right.png");
  background-size: contain;
}
@media (min-width: 1000px) and (max-width: 1910px) {
  .slide-5 {
    height: 100vh;
    height: var(--app-height);
    position: relative;
    min-height: unset;
    margin-top: -10px;
  }
  .slide-5 .text-content .content {
    font-size: 16px;
    line-height: 19px;
  }
  .slide-5 .text-content .content h1 {
    margin-bottom: 20px;
    font-size: 35px;
    line-height: 41px;
  }
  .slide-5 .text-content .content-footer a {
    font-size: 16px;
    line-height: 18px;
    margin-top: 21px;
  }
  .slide-5 .merch-left-top {
    position: absolute;
    width: 671.6666666667px;
    height: 716.6666666667px;
    left: -192.44px;
    top: -340px;
    bottom: 0px;
    margin: auto;
  }
  .slide-5 .merch-left {
    position: absolute;
    width: 592.9583333333px;
    height: 636.7166666667px;
    left: -164.85px;
    top: 400px;
    bottom: 0px;
    margin: auto;
  }
  .slide-5 .merch-right-top {
    position: absolute;
    width: 671.6666666667px;
    height: 716.6666666667px;
    right: -197.32px;
    top: -330px;
    bottom: 0px;
    margin: auto;
  }
  .slide-5 .merch-right {
    position: absolute;
    z-index: 100;
    width: 566.8666666667px;
    height: 609.5666666667px;
    right: -134.37px;
    top: 490px;
    bottom: 0px;
    margin: auto;
  }
}
@media (max-width: 1500px) {
  .slide-5 .merch-left-top {
    position: absolute;
    width: 503.75px;
    height: 537.5px;
    left: -192.44px;
    top: -340px;
    bottom: 0px;
    margin: auto;
  }
  .slide-5 .merch-left {
    position: absolute;
    width: 444.71875px;
    height: 477.5375px;
    left: -164.85px;
    top: 400px;
    bottom: 0px;
    margin: auto;
  }
  .slide-5 .merch-right-top {
    position: absolute;
    width: 503.75px;
    height: 537.5px;
    right: -197.32px;
    top: -330px;
    bottom: 0px;
    margin: auto;
  }
  .slide-5 .merch-right {
    position: absolute;
    z-index: 100;
    width: 425.15px;
    height: 457.175px;
    right: -134.37px;
    top: 490px;
    bottom: 0px;
    margin: auto;
  }
}
@media (max-width: 1300px) {
  .slide-5 .text-content .content {
    margin-left: 28%;
  }
}
@media (max-width: 1170px) {
  .slide-5 {
    background-image: url(/img/slide-5/background.png);
    background-position-y: 65%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .slide-5 .cover {
    display: none;
  }
  .slide-5 .text-content {
    background-color: unset;
  }
}
@media (min-width: 480px) and (max-width: 1000px) {
  .slide-5 {
    height: 100vh;
    height: var(--app-height);
    position: relative;
    min-height: unset;
  }
  .slide-5 .text-content .content {
    font-size: 12px;
    line-height: 14px;
    padding-right: 45px;
    margin-left: 28%;
  }
  .slide-5 .text-content .content h1 {
    margin-bottom: 20px;
    font-size: 35px;
    line-height: 41px;
  }
  .slide-5 .text-content .content-footer a {
    font-size: 16px;
    line-height: 18px;
    margin-top: 21px;
  }
}
@media (max-width: 630px) {
  .slide-5 {
    background-color: #131313;
  }
  .slide-5 {
    height: 100vh;
    height: var(--app-height);
    position: relative;
    min-height: unset;
  }
  .slide-5 .text-content .content {
    margin-left: 18%;
    padding-right: 45px;
    color: white;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .slide-5 {
    height: 100vh;
    height: var(--app-height);
    position: relative;
    min-height: unset;
  }
  .slide-5 .text-content .content {
    font-size: 12px;
    line-height: 14px;
    margin-left: 8%;
    padding-right: 35px;
  }
  .slide-5 .text-content .content h1 {
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 29px;
  }
  .slide-5 .text-content .content-footer a {
    font-size: 16px;
    line-height: 18px;
    margin-top: 21px;
  }
}
@media (max-width: 390px) {
  .slide-5 .text-content .content {
    font-size: 12px;
    line-height: 14px;
    margin-left: 4%;
    padding-right: 35px;
  }
}
@media (max-width: 320px) {
  .slide-5 {
    height: 100vh;
    height: var(--app-height);
    position: relative;
    min-height: unset;
  }
  .slide-5 .text-content .content {
    font-size: 12px;
    line-height: 14px;
    margin-left: 4%;
    padding-right: 35px;
  }
  .slide-5 .text-content .content h1 {
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 29px;
  }
  .slide-5 .text-content .content-footer a {
    font-size: 16px;
    line-height: 18px;
    margin-top: 21px;
  }
}

/************    Slide 6   *************/
.slide-6 {
  position: relative;
  background-color: #0C0C0C;
  margin-top: -45px;
  /*z-index: 200;*/
}

.slide-6 .video {
  width: 100%;
  height: 631px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 631px;
}

.slide-6 .video-grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/img/main/raster.png");
}

/************    Slide 7   *************/
.slide-7 {
  position: relative;
  background-color: #0C0C0C;
  /*z-index: 200;*/
  min-height: 1055px;
  margin-top: -4px;
}

.slide-7 .left-block-gradient {
  position: absolute;
  z-index: 250;
  width: 461px;
  height: 100%;
  left: 0;
}

.slide-7 .left-block-gradient svg path, .slide-7 .right-block-gradient svg path {
  fill: white;
}

.slide-7 .left-block-gradient:hover svg path, .slide-7 .right-block-gradient:hover svg path {
  fill: #BA2425;
}

.slide-7 .left-block-gradient .hov {
  position: absolute;
  transition: all 1s ease;
  background: linear-gradient(90deg, rgba(18, 18, 18, 0) 13.3%, #B92424 102.75%);
  transform: matrix(-1, 0, 0, 1, 0, 0) translateX(420px);
  width: 461px;
  height: 100%;
  left: 0;
}

.slide-7 .left-block-gradient:hover .hov, .slide-7 .left-block-gradient .left-link:hover ~ .hov {
  transform: matrix(-1, 0, 0, 1, 0, 0) translateX(0px);
}

.slide-7 .left-block-gradient:hover .left-link, .slide-7 .left-block-gradient .left-link:hover {
  color: white;
}

.slide-7 .right-block-gradient {
  position: absolute;
  z-index: 250;
  width: 461px;
  height: 100%;
  right: 0;
}

.slide-7 .right-block-gradient .hov {
  position: absolute;
  transition: all 1s ease;
  background: linear-gradient(90deg, rgba(18, 18, 18, 0) 13.3%, #B32323 102.75%);
  transform: translateX(420px);
  width: 461px;
  height: 100%;
  right: 0;
}

.slide-7 .right-block-gradient:hover .hov, .slide-7 .right-block-gradient .right-link:hover ~ .hov {
  transform: translateX(0px);
}

.slide-7 .right-block-gradient:hover .right-link, .slide-7 .right-block-gradient .right-link:hover {
  color: white;
}

.slide-7 .left-link {
  position: absolute;
  z-index: 200;
  transition: all 1s ease;
  color: #373737;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  left: 299px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.slide-7 .right-link {
  position: absolute;
  z-index: 200;
  transition: all 1s ease;
  color: #373737;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  right: 299px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.slide-7 .content .reviews {
  position: absolute;
  z-index: 99;
  min-width: 688px;
  top: 101px;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  filter: drop-shadow(0px 0px 10px #000000);
}

.slide-7 .content .reviews .item-group {
  position: absolute;
  width: 100%;
}

.slide-7 .content .reviews .item {
  position: relative;
  transition: all 1s ease;
  transform: scale(1);
  height: 133px;
  background-color: #0C0C0C;
  margin-bottom: 6px;
}

.slide-7 .content .reviews .item:hover {
  transform: scale(1.05);
}

.slide-7 .content .reviews div .right-block {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 37px;
  height: 100%;
  background-color: green;
  margin-bottom: 6px;
  background-color: #782020;
}

.slide-7 .content .reviews div .right-block img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slide-7 .content .reviews div .logo {
  position: absolute;
  left: 0;
  width: 141px;
  height: 100%;
  background-color: #0C0C0C;
}

.slide-7 .content .reviews div .logo img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slide-7 .content .reviews div .text-content {
  position: absolute;
  left: 141px;
  width: calc(100% - 144px);
  height: 100%;
  background-color: #0C0C0C;
}

.slide-7 .content .reviews div .text-content .head {
  margin-top: 22px;
  position: absolute;
  height: auto;
}

.slide-7 .content .reviews div .text-content .text {
  position: absolute;
  margin-top: 56px;
  width: 100%;
  height: auto;
  font-family: Roboto Light;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.slide-7 .content .reviews div .text-content .head span.red {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #FF4747;
}

.slide-7 .content .reviews div .text-content .head span.grey {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #737373;
}

/************    Slide 8   *************/
.slide-8 {
  position: relative;
  background-color: #0C0C0C;
  z-index: 198;
  min-height: 442px;
  margin-top: -4px;
}

.slide-8 .content {
  width: 200px;
  height: 440px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.slide-8 .content .social {
  width: 75px;
  /*top: 45px;*/
  height: 100%;
  position: absolute;
  background-color: white;
  left: 0;
}

.slide-8 .content .social .link {
  position: relative;
  width: 100%;
  margin-top: -1px;
  height: 75px;
  cursor: pointer;
}

.slide-8 .content .social .link img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slide-8 .content .social .link:hover {
  background-color: #BA2425;
}

.slide-8 .content .social .link:hover img {
  filter: invert(100%);
}

.slide-8 .content .right-text {
  position: absolute;
  display: block;
  right: 0;
  height: 100%;
  width: 45px;
}

.slide-8 .content .right-text span {
  position: absolute;
  display: block;
  width: 360px;
  font-family: Roboto Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 45px;
  text-transform: uppercase;
  color: #373737;
  transform-origin: 0% 0%;
  transform: rotate(-90deg) translateX(-49%);
  top: 40.2%;
}

.slide-8 .content .center-text {
  position: absolute;
  display: block;
  right: 65px;
  height: 100%;
  width: 45px;
}

.slide-8 .content .center-text span {
  position: absolute;
  display: block;
  width: 360px;
  font-family: Roboto Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 82px;
  text-transform: uppercase;
  color: #373737;
  transform-origin: 0% 0%;
  transform: rotate(-90deg) translateX(-49%);
  top: 40.2%;
}
